---
layout: home
permalink: /
---


<div class="container">
    <div class="row mission">
        "En Fundación Neotrópica promovemos que las comunidades se pongan de acuerdo en cómo van a manejar sus recursos
        naturales para conservarlos y disfrutarlos de una forma justa y equitativa"
    </div>

    <div class="row">


        <div class="col-sm-4">
            {% include article-featured.html %}
        </div>


        <div class="col-sm-4 ">
            {% include article-featured.html %}
        </div>


        <div class=" col-sm-4 ">
            {% include article-featured.html %}
        </div>

        <div style="text-align: center;">
            <img style="width: 70%"
                 src="/assets/images/infographic.jpg">
        </div>

        <div class=" col-sm-8">

            <div class="block-header">
                <div></div>
                <h3>Ultimos artículos</h3>
            </div>

            {% include article.html %}

            {% include article.html %}

            {% include article.html %}

            {% include article.html %}

        </div>

        <div class=" col-sm-4">

            <div class="block-header">
                <div></div>
                <h3>Programas estratégicos</h3>
            </div>

            {% include article-sidebar.html %}


            {% include article-sidebar.html %}



            <div class="block-header">
                <div></div>
                <h3>Proyectos activos</h3>
            </div>

            {% include article-sidebar.html %}

            {% include article-sidebar.html %}



            {% include action-buttons.html %}

        </div>
    </div>
</div>