
<div class="container">
    <div class="row">
        <div class="header">
            <a href="/"><img class="logo" src="/assets/images/logo.jpg" alt="Logo"></a>

            <div class="header-content">
                <button type="button" class="btn btn-action header-button">Quiero donar</button>

                <button type="button" class="btn btn-primary header-button">Tienda en línea</button>
            </div>

            <div class="mobile_buttons">
            </div>
        </div>

    </div>
</div>
<div class="menu-container">
    <div class="container">
        <div class="row">

            <ul id="nav">
                <li><a href="/">Programas y proyectos </a>
                    <ul>
                        <li><a href="/">Oportunidades educativass </a></li>
                        <li><a href="/">Mensaje muy largo de menu </a></li>
                        <li><a href="/">Otro mensaje largo </a></li>
                    </ul>
                </li>
                <li><a href="/">Servicios</a></li>
                <li><a href="/">Campañas</a></li>
                <li><a href="/">Galería </a></li>
                <li><a href="/">Conózcanos </a></li>
            </ul>
        </div>
    </div>
</div>

<div class="mobile-navigation-container">
</div>