<head>
    <meta charset="utf-8">
    <title>Fundación Neotrópica - Creciendo como la naturaleza</title>
    <link rel="icon" type="image/ico" href="/assets/images/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/assets/css/vendor/flexslider.css">
    <link rel="stylesheet" href="/assets/css/vendor/custom-bootstrap.css">
    <link rel="stylesheet" href="/assets/css/theme.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/slicknav.css">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
</head>