/*  main navigation */
#nav {
    display: table;
    padding: 0px;
    margin-bottom: 0px;
}

#nav > li {
    background: #5e8827;
    text-align: center;
    cursor: pointer;
    list-style: none;
    padding: 10px 10px 10px 10px;
    border-right: 1px #E6FFE6 solid;
    position: relative;
    display: table-cell;
    width: 1%;
    color: #ccc;
}

#nav > li:last-of-type {
    border: 0px #E6FFE6 solid;
}

#nav ul li {

    width: 100%;
    display: block;
    text-indent: 10px;
    line-height: 30px;
    margin-right: 10px;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    border-left: none;
    border-right: none;
    background: #5e8827;
    position: relative;
}

ul#nav li ul {
    display: none;
    padding: 0px;
    margin-top: 10px;
}

#nav li:hover > ul {
    display: block;
    position: absolute;
    z-index: 1000;
    left: 0;

}

#nav > li ul li ul {
    left: 100%;
    white-space: nowrap;
}

#nav li:hover > a, #nav li:hover {
    color: #f3901d;
    background: #E6FFE6;
}

#nav li, li a {
    color: white;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* end main navigation */

.slicknav_menu {
    display: none;
}

.mobile_buttons {
    float: right;
    display: none;
}

@media screen and (max-width: 40em) {
    .js #nav {
        display: none;
    }

    .header-button, .emailer {
        display: none;
    }

    .js .slicknav_menu {
        display: block;
    }

    .mobile_buttons {
        display: block;
    }
}

.flexslider .slides > li {
    max-height: 500px;
    overflow: hidden;
    text-align: center;
}

.flexslider .slides img {
    max-width: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

