#nav {
  display: table;
  padding: 0px;
  margin-bottom: 0px;
}
#nav > li {
  background: #00841b;
  text-align: center;
  cursor: pointer;
  list-style: none;
  padding: 10px 10px 10px 10px;
  border-right: 1px #e6ffe6 solid;
  position: relative;
  display: table-cell;
  width: 1%;
  color: #cccccc;
}
#nav > li ul li ul {
  left: 100%;
  white-space: nowrap;
}
#nav > li:last-of-type {
  border: 0px #e6ffe6 solid;
}
#nav ul li {
  width: 100%;
  display: block;
  text-indent: 10px;
  line-height: 30px;
  margin-right: 10px;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  border-left: none;
  border-right: none;
  background: #00841b;
  position: relative;
}
#nav li:hover > a {
  color: #f3901d;
  background: #e6ffe6;
}
#nav li:hover > ul {
  display: block;
  position: absolute;
  z-index: 1000;
  left: 0;
}
ul#nav li ul {
  display: none;
  padding: 0px;
  margin-top: 10px;
}
#nav li,
li a {
  color: white;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.slicknav_menu {
  display: none;
}
.mobile_buttons {
  float: right;
  display: none;
}
.flexslider {
  margin-bottom: 20px;
}
.flexslider .slides > li {
  max-height: 500px;
  overflow: hidden;
  text-align: center;
}
.flexslider .slides img {
  max-width: 1500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  color: #00841b;
}
a:hover {
  color: #00841b;
}
h2 {
  color: #00841b;
  font-size: 20px;
}
.header-button {
  float: right;
  padding: 12px 12px;
  font-size: 16px;
  margin-left: 5px;
  margin-top: 20px;
}
.article figure {
  float: left;
  margin-right: 10px;
  clear: both;
}
.article figure img {
  width: 140px;
}
.article section {
  overflow: auto;
  display: block;
  min-height: 120px;
}
.article .meta-data {
  margin-top: 2px;
  margin-bottom: 5px;
}
.article span {
  color: #9a9a9a;
}
.feature-article figure img {
  width: 100%;
}
.feature-article section {
  overflow: auto;
  display: block;
  min-height: 120px;
}
.feature-article .meta-data {
  margin-top: 2px;
  margin-bottom: 5px;
}
.feature-article span {
  color: #9a9a9a;
}
/*@base: #f938ab;

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow: @style @c;
}

.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.box {
  color: saturate(@base, 5%);
  border-color: lighten(@base, 30%);
  div {
    .box-shadow(0 0 5px, 30%)
  }
}*/
/*.btn-action {
  background: @action-color;
}*/
/*
.donate-button {

  float: right;

  padding: 0.2em 1.2em;
  text-decoration: none;
  color: white;
  background: #C85C19;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 0;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  padding: 1.2em 1.2em;
  margin-top: 30px;
}*/
@media screen and (max-width: 40em) {
  .js #nav {
    display: none;
  }
  .header-button,
  .emailer {
    display: none;
  }
  .js .slicknav_menu {
    display: block;
  }
  .mobile_buttons {
    display: block;
  }
}
@media (max-width: 767px) {
  .feature-article figure {
    float: left;
    margin-right: 10px;
    clear: both;
  }
  .feature-article figure a img {
    width: 140px;
  }
}
